<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "mybatis-3-mapper" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.newoa.mapper.ManMapper">

<resultMap type="com.newoa.pojo.TaskBase" id="rm">

<result property="id" column="id"/>
<result property="name" column="name"/>
<result property="desc" column="desc"/>
<result property="statusid" column="statusid"/>
<result property="starttime" column="starttime"/>
<result property="endtime" column="endtime"/>
<result property="userid" column="userid"/>
<result property="money" column="money"/>

<association property="status" javaType="com.newoa.pojo.Status">
<result property="desc" column="statusid"/>
</association>

<association property="userbase" javaType="com.newoa.pojo.UserBase">
<result property="name" column="username"/>
</association>
</resultMap>

<select id="find" resultMap="rm">
SELECT a.id,a.name,a.desc,a.starttime,a.endtime,a.money,b.desc AS statusid,c.name AS username
FROM task a
LEFT JOIN status b
ON a.statusid=b.id
left join userbase c
on a.userid=c.id
WHERE departmentid=#{departmentid}

<if test="userid!=null">
and a.userid=#{userid}
</if>

<if test="statusid!=null">
and a.statusid=#{statusid}
</if>
</select>
<update id="done">

update task set statusid='2' where id=#{id}

</update>

<update id="delay">

update task set statusid='0' where id=#{id}

</update>

<delete id="deleteTask">
delete from task where userid=#{userid}
</delete>

<insert id="addTask">

insert into task(name,`desc`,statusid,starttime,endtime,userid,money) values(#{name},#{desc},#{statusid},#{starttime},#{endtime},#{userid},#{money})

</insert>

<update id="upMoney">

update task set money=#{money} where id=#{id}
</update>
</mapper>